<a href="https://colab.research.google.com/github/goharisaleh/datasets/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5/5.5
b = 5*5.5
print(a//b)

0.0

In [ ]:
class student:
  def __init__(self,name,age,position):
    self.name = name
    self.age = age
    self.position = position
p = student('jadi',38,'hr')
print(p.name, p.age, p.position)

jadi 38 hr

In [ ]:
n = int(input('n:'))
for i in range(n):
  print('*'*i)
for j in range(n,0,-1):
  print('*'*j)

n:5

*
**
***
****
*****
****
***
**
*

In [24]:
class Hanoi:
  def __init__(self,n):
    self.disks_no = n
    self.towers = (
        list(range(2*n,1,-2)),
        [],
        []
    )
  
  def move(self, source, destination):
    disk = self.towers[sourse].pop()
    self.towers[destination].append(disk)

  def print_tower_row(self, tower, index):
    try:
      return ("=" * tower[index]).center(20)
    except:
      return ("||".center(20))

  def print_hanoi(self):
    tower_empty = 2
    tower_width = 20
    for i in range(tower_empty):
      print("||".center(tower_width),
            "||".center(tower_width),
            "||".center(tower_width))
    for i in range(self.disks_no,0,-1):
      print(
          self.print_tower_row(self.towers[0],i-1),
          self.print_tower_row(self.towers[1],i-1),
          self.print_tower_row(self.towers[2],i-1)
      )

    print(
        '-' * tower_width,
        '-' * tower_width,
        '-' * tower_width
    )
    print(
        "Tower #0".center(tower_width),
        "Tower #1".center(tower_width),
        "Tower #2".center(tower_width)
    )

In [26]:
hanoi = Hanoi(6)
hanoi.print_hanoi()

#hanoi.move(0, 2)
#hanoi.print_hanoi()

         ||                   ||                   ||
         ||                   ||                   ||
         ==                   ||                   ||
        ====                  ||                   ||
       ======                 ||                   ||
      ========                ||                   ||
     ==========               ||                   ||
    ============              ||                   ||
-------------------- -------------------- --------------------
      Tower #0             Tower #1             Tower #2