<a href="https://colab.research.google.com/github/goharisaleh/datasets/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
n = input()
if n.isdecimal():
  k = int(n)
  if k%2 == 0:
    print('even')
  else:
    print('odd')
else:
  print('error')

tara
error

In [18]:
s = "7609"
print(s.isdecimal())

True

In [21]:
import math as m
a = m.pow(2,3)
a

8.0

In [ ]:
def

In [15]:
s = "32ladk3"
print(s.isdecimal())

False

In [16]:
s = "Mo3 nicaG el l22er"
print(s.isdecimal())

False

In [24]:
l = [1,2,5,6,7,9,0]
l2 = [m.pow(i,2) for i in l if i%2 == 0]
print(l2)

[4.0, 36.0, 0.0]

In [29]:
d1 = {'apple': 'sib', 'orange': 'portoghal'}
d2 = {value:key for key,value in d1.items()}
print(d2)

{'sib': 'apple', 'portoghal': 'orange'}

In [2]:
class Student:
  def  __init__ (self, age):
    self.age = age

In [3]:
me = Student(26)

In [44]:
print(
    me.age
)

26

In [14]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = person("John", 36)

print(p1.name , p1.age)

John 36

In [13]:
print('hello \n world')

hello
 world

In [15]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [16]:
print(bool("Hello"))
print(bool(15))

True
True

In [17]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [24]:
1 is not 2

True